/* general*/

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-1: #46a6ff;
  --color-2: #0273dd;
  --color-3: #0065c4;
  --color-4: #035aac;
  --color-5: #0131a1;
  --color-6: #3485ff;
  --color-7: #568eff;
}


/* header */
.nav{
  width: 100%;
  height: 80px;
  background-color: #0084fd;
  margin-bottom: 50px;
}

.container-nav{
  width: 1140px;
  height: 100%;
  display: flex;
  background-color: var(--color-1);
  }

  .col-left{
    width: 50%;
    background-color: var(--color-2);
  }

  .col-right{
    width: 50%;
    background-color: var(--color-3);
  }

/*main*/
.container{
  width: 1140px;
  height: 100%;
  background-color: var(--color-1);
  margin-bottom:50px;
}

/*card cyan*/
.row{
  background-color: var(--color-1);
  display: flex;
  flex-wrap: wrap;
}

.back-card-long{
  width: 65%;
  height: 350px;
  background-color: var(--color-4);
}

.back-card-right{
  width: 35%;
  height: 350px;
  background-color: var(--color-5);
}

.back-card{
  width: calc(100% / 3);
  height: 350px;
  background-color: var(--color-6);
  border: 1px solid #0131a1;
}

/*planning*/
.col{
  width: 50%;
  height: 900px;
  background-color: var(--color-4);
  border: 1px solid #0131a1;
}

/*testimonial*/
.row-t{
  width: 100%;
  height: 60px;
  background-color: #035aac;
  border: 1px solid #0131a1;
}

.row-tt{
  width: 100%;
  height: 260px;
  margin: 30px 0px;
  background-color: #035aac;
  border: 1px solid #0131a1;
}

/*about*/
.col-a{
  width: 70%;
  height: 700px;
  background-color: #0084fd;
}

.col-p{
  width: 30%;
  height: 700px;
  background-color: #78beff;
}