/* general*/

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

:root{
  --color-1: #b5ddff;
  --color-2: #0084fd;
  --color-3: #0065c4;
  --color-4: #9792e4;
  --color-5: #0131a1;
  --color-6: #3485ff;
  --color-7: #0f1115;
}



/* header */
.nav{
  width: 100%;
  height: 80px;
  background-color: #0084fd;
  margin-bottom: 50px;
}

.container-nav{
  width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  }

  .col-left{
    width: 50%;
  }

  .col-right{
    width: 50%;
    text-align: end;
  }

  li{
  list-style: none;
  display: inline;
  margin-left: 30px;
  margin-right: 0;
  color: white;
}

  #botton-nav{
    background-color: white;
    border-radius: 100px;
    padding: 8px;
    color:black;
  }

/*main*/
.container{
  width: 1140px;
  margin-bottom:50px;
}



/*card cyan*/
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  background-color: var(--color-1) ;
  height: 360px;
  width: 360px;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-solid{
  font-size: 5rem;
  color: #0084fd;
}

.col-card-l{
  width: 55%;
  display: flex;
  flex-direction: column;

}

.col-card-r{
  width: 45%;
}

#phone{
  display: flex;
  position:relative;
  top: 82px;
  width: 250px;
}


h3{
  color: #0084fd;
  margin-top: 30px;
  font-size: 1.5rem;
}

#h3{
  margin:20px;
  text-align: left;
}

p{
  margin:20px;
  text-align: center;
  line-height: 25px;
  color: #5a6e7f;
}

#p{
  margin:20px;
  text-align: left;
  line-height: 25px;
  color: #5a6e7f;
}

.first .card:first-child{
  width: 749px;
  flex-direction:row;
}

.botton{
  color:white;
  background-color: #0084fd;
  width: 170px;
  border-radius: 20px;
  padding: 5px 40px;
  display: flex;
  text-align: left;
  margin-left: 20px;
  margin-top:20px
  
}

.fa-apple{
  margin-right: 10px;
  margin-left:0px;
}




/*planning*/
.second{
  width: 100%;
  margin-bottom:50px;
  background-color: var(--color-4);
}

.container-planning{
  width: 900px;
}

.col{
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-2{
  width: 50%;
  height: 800px;
  display: flex;
}

.plan{
  width: 400px;
}

#p-plan{
  text-align: left;
  color: white;
}

.h4{
  font-size: 2rem;
  color: white;
  margin-left:20px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.card-w{
  position: relative;
  top: 170px;
  background-color: white;
  width: 410px;
  height: 560px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plan-2{
  width: 300px;
  height: 300px;
}

.down{
  color: #000;
  font-size: 1rem;
  background-color: var(--color-4);
  padding: 15px;
  border-radius: 50%;
}

.h4-b{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
}

#p-b{
  color: #000;
  margin: 50px;
  margin-bottom: 10px;
}


/*benefits*/
.fourth{
  width: 100%;
  height: 1100px;
  background-color: #9792e4;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#white-title{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom:50px;
}

.back-card{
  background-color: white;
  border-radius: 30px;
  height: 420px;
  width: 360px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.botton-v {
  width: 140px;
  background-color: #9792e4;
  border-radius: 50px;
  color: white;
  text-align: center;
  padding: 5px 20px;
  margin: 10px 30px;
}

.number{
  color: #9792e4;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
}

.description{
  color: #737373;
  margin: 0px 30px;
}

.title-v{
  color:#9792e4;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 30px;
  margin-top: 0px;
}

/*testimonial*/
.row-t{
  width: 100%;
  height: 60px;
display: flex;
justify-content: center;
}

.row-tt{
  width: 100%;
  height: 260px;
  margin: 30px 0px;
  background-color: var(--color-4);
  border-radius: 50px;
}

.test{
  width: 200px;
  border-radius: 50%;
}

/*about*/
.col-a{
  width: 60%;
  height: 600px;
  padding-left: 100px;
}

.col-p{
  width: 40%;
  height: 600px;
}

#about{
  font-size: 4rem;
  font-weight: bold;
  color: #9792e4;
  margin-top: 50px;
}

#about-text{
  line-height: 40px;
  font-size: 0.9rem;
}

#test-text{
  color: #9792e4;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 170px;
}

.virg{
  color: #9792e4;
  position: relative;
  top: 70px;
  left: 200px;
}

.test-1{
  width: 200px;
  border-radius: 50%;
  margin-left:50px;
}

#botton-link{
  color: white;
  background-color: #9792e4;
  font-size: 0.8rem;
  width: 160px;
  border-radius: 50px;
  padding: 10px 15px;
  margin-left: 50px
}

/*footer*/
/*started*/
.container-f{
  width: 100%;
  background-color: #9792e4;
}

.row-f{
width: 100%;
height: 400px;
background-color: #9792e4;
color: white;
display: flex;
flex-direction: column;
justify-content: space-around ;
}

.grey{
  background-color: #333333;
  height: 200px;
}

a{
  color: var(--color-4);
}

#yellow{
  font-size: 4rem;
  font-weight: bold;
  color: #fdc15f;
}

#simple{
  font-size: 2rem;
  font-weight: bold;
}

#get{
  color: #d5d4f4;
  margin-top: 40px;
}

.lorem{
  width: 350px;
  text-align: center;
  font-size: 0.8rem;
}

.copyright{
  font-size: 0.7rem;
  margin-bottom: 40px;
}

/*------------------------------*/


@media screen and (min-width:1200px){

}